.congratulations {
  .header {
    min-height: 65vh;
    background: url('../assets/congratulationsbackground.png') no-repeat 50% 0%;
    background-size: cover;
    display: flex;
    justify-content: center;

    &-content {
      background: #21294f;
      max-width: 750px;
      width: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo {
        display: block;
        max-width: 240px;
        width: 100%;

        @media screen and (max-width: 500px) {
          padding-bottom: 30px;
        }
      }

      > button {
        padding-left: 40px;
        padding-right: 40px;
        height: 56px;
        font-size: 18px;
        margin: 40px 0;

        @media screen and (max-width: 500px) {
          margin-bottom: 10px;
        }
      }

      .subtitle {
        margin: 0;
        max-width: 420px;
        font-size: 24px;
        line-height: 140%;
      }
    }
  }
  .confetti {
    display: flex;
    justify-content: center;
    margin: 70px 0;
    img {
      max-width: 200px;
    }
  }
}
