@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './variables.scss';

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// A bunch of helper classes
.container {
  margin: 0 auto;
  max-width: 1280px;
  &-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 1280px) {
    max-width: 1024px;
  }
}
.title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  @media screen and (max-width: 800px) {
    font-size: 24px;
    line-height: 32px;
  }

  &-main {
    font-size: 56px;
    line-height: 64px;
    font-weight: 500;
    @media screen and (max-width: 800px) {
      font-size: 42px;
      line-height: 56px;
    }
    @media screen and (max-width: 560px) {
      font-size: 32px;
      line-height: 36px;
    }
    @media screen and (max-width: 380px) {
      font-size: 26px;
      line-height: 30px;
    }
  }
}
.subtitle {
  font-size: 18px;
  line-height: 24px;
  @media screen and (max-width: 800px) {
    font-size: 16px;
    line-height: 20px;
  }

  &-main {
    font-size: 24px;
    line-height: 32px;
    @media screen and (max-width: 800px) {
      font-size: 20px;
      line-height: 28px;
    }
    @media screen and (max-width: 560px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
.w-full {
  width: 100%;
}
.m-0 {
  margin: 0;
}
.m-auto {
  margin: 0 auto;
}
.font-normal {
  font-weight: normal;
}
.font-bold {
  font-weight: bold;
}

// Text colours used throughout the app
.text {
  &-center {
    text-align: center;
  }
  &-white {
    color: $white;
    &-secondary {
      color: $white-secondary;
    }
  }
  &-orange {
    color: $orange;
  }
  &-blue {
    color: $blue;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-gray {
    color: $gray;
  }
}

// Overrides
input {
  height: 48px;
  padding: 0 20px;
  border-radius: 7px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  transition: 200ms ease-out;

  &::placeholder {
    color: #cccccc;
  }

  &.error {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(255, 0, 85, 0.7);
  }
}
.button {
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 7px;
  outline: none;
  border: none;
  padding: 0 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  background: $orange;
  transition: 200ms ease-out;

  &:hover {
    background: $orange-light;
  }

  &:active {
    transform: scale(0.96);
  }

  &-secondary {
    background: transparent;
    box-shadow: none;
    &:hover {
      background: $orange;
    }
  }
}
a {
  text-decoration: none;
}
