@import '../../style/variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding-top: 80px;
  padding-bottom: 40px;
  background: rgba(178, 230, 250, 0.5);

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
      max-width: 180px;
      width: 100%;
    }

    .text {
      max-width: 650px;
      text-align: center;
      color: $blue-secondary;

      > a {
        color: $blue-secondary;
      }
    }

    .social-media {
      margin: 3vh 0 5vh 0;
      .follow-us {
        text-align: center;
        color: $blue-secondary;
        margin-bottom: 2vh;
      }
      img {
        margin: 0 10px;
      }
    }

    .links {
      display: flex;
      color: $blue;

      a {
        color: $blue;
        transition: 200ms ease-out;
        &:hover {
          color: $blue-secondary;
        }
      }

      @media screen and (max-width: 460px) {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
